/* Start charts */
.charts {
    margin-top: 25px;
    color: tomato;
  }
  .charts .chart-container {
    background-color: #313348;
    padding: 15px;
  }
  .charts .chart-container h3 {
    margin: 0 0 10px;
    font-size: 17px;
  }
 
  .chart--container {
    min-height: 530px;
    width: 100%;
    height: 100%;
  }
  
  .zc-ref {
    display: none;
  }


  .container .col-sm-6 img{
    background-color: #313348;
    margin-top: 25px;
    margin: 0 0 10px;
    font-size: 10px;
  }

   h3 {
    font-family: Calibri;
    font-weight: 100;
    margin-top: 0;
    color: #EEE;
    margin-top: 15px;
  }