<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel = "icon" href = "/icons/corona-icon-red.png"
          type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header id="home" class="header">
    <nav class="nav" role="navigation">
        <div class="container nav-elements">
            <div class="branding">
                <a href="#home"><img src="/icons/corona-icon-red.png" alt="Coronavirus"></a>
            </div><!-- branding -->
            <ul class="navbar">
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul><!-- navbar -->
        </div><!-- container nav-elements -->
    </nav>
    <div class="container tagline">
        <h1 class="headline">COVID-19 Tracker</h1>
    </div><!-- container tagline -->
</header><!-- #home -->
<section id="error" class="section">
<p class = "error">Sorry, application is down, will be fixed shortly:)</p>
</section>
<footer class="footer">
    <div class="container">
        <nav class="nav" role="navigation">
            <div class="container nav-elements">
                <div class="branding">
                    <a href="#home"><img src="/icons/corona-icon-red.png" alt="Logo - Covid-19"></a>
                </div>
            </div>
        </nav>
        <p class="legal">Covid Tracker is a web application solely for the purpose of tracking and analysing COVID-19 India cases.</p>
    </div><!-- container -->
</footer><!-- footer -->

</body>
</html>